.App {
  text-align: center;
  
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 100%; */
  padding: 2rem;
}
.App.morning{
  /* width: 100%; */
  background-image: url(./resources/SVG/sunny.png);
}
.App.night{
  /* width: 100%; */
  background-image: url(./resources/SVG/rain.png);
}

.selection {
  width: 300px;
  height: 40px;
  outline: none;
  border-radius: 10px;
}
.weather-container {
  width: 100%;
}
.cityName {
  color: black;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 3px;
}
.weather {
  width: 200px;
  height: 100px;
  font-family: "tahoma",sans-serif;
  background-color: #d0d0d0;
  border-radius: 10px;
  box-shadow: 0 0 10px #1111;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.weather h2{
  font-size: 50px;
  color: #000;
  font-family: "tahoma",sans-serif;
  margin: 0;
  padding:0;
}